@font-face {
    font-family: "Orbitron";
    src: url("../assets/fonts/Orbitron.woff") format("woff"),
         url("../assets/fonts/Orbitron.ttf") format("tff");
    font-display: swap;
}

@font-face {
    font-family: "ADLaMDisplay";
    src: url("../assets/fonts/ADLaMDisplay.woff") format("woff"),
         url("../assets/fonts/ADLaMDisplay.ttf") format("tff");
    font-display: swap;
}

/* -------------------- ALLGEMEIN -------------------- */

* {
    box-sizing: border-box;
    overflow-wrap: anywhere;
    pointer-events: none;
}

body {
    background-color: #000000;
    margin: 0;
    color: #FFFFFF;
}

:where(h1, h2, h3, h4, h5, h6, p, ul) {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

:where(a) {
    pointer-events: auto;
    cursor: pointer;
}

.heading1 {
    font-family: "Orbitron", Arial, sans-serif;
    font-size: 2rem;
    color: #FFA500;
}

.heading2 {
    font-family: "Orbitron", Arial, sans-serif;
    font-size: 1.625rem;
    color: #FFA500;
}

.heading3 {
    font-family: "Orbitron", Arial, sans-serif;
    font-size: 1.375rem;
    color: #FFA500;
}

.heading4 {
    font-family: "Orbitron", Arial, sans-serif;
    font-size: 1.125rem;
    color: #FFA500;
}

.heading5 {
    font-family: "ADLaMDisplay", Arial, sans-serif;
    font-size: 1rem;
    color: #FFA500;
}

.heading6 {
    font-family: "ADLaMDisplay", Arial, sans-serif;
    font-size: 1.125rem;
    color: #FFFFFF;
}

.text {
    font-family: "ADLaMDisplay", Arial, sans-serif;
    font-size: 1rem;
    color: #FFFFFF
}

.placeholder-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 5rem;
    flex-direction: column;
    line-height: 0;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-flex;
    height: 50px;
    margin: 1rem 0;
    font-family: "ADLaMDisplay", Arial, sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
    align-items: center;
    background-color: #FFA500;
    border-radius: 35px;
    padding: 0.75rem 1.5rem;
    gap: 0.5rem;
    text-decoration: none;
    box-shadow: 0 0 0 0 #FFFFFF;
    transform-origin: center center;
    transition:
        transform 0.35s ease,
        box-shadow 0.35s ease,
        background-color 0.35s ease,
        color 0.35s ease;
}

.button:hover {
    color: #FFFFFF;
    background-color: #FFA500;
    transform: scale(1.03);
    box-shadow: 0 0 16px 4px #FFFFFF;
}

.button svg {
    width: 1rem;
    height: 1rem;
    fill: #FFFFFF;
}

.link {
    display: inline-block;
    position: relative;
    font-family: "ADLaMDisplay", Arial, sans-serif;
    font-size: 1rem;
    color: #00CCFF;
    text-decoration: none;
}

.link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -2px;
    background-color: #00CCFF;
    transition: width 0.25s;
}

.link:hover::after {
    width: 100%;
}